/** @format */
:root {
  --tp-theme-color: #0057FC;
  --tp-theme-color-2: #FFE815;
  --tp-theme-color-3: #FEDC76;
  --tp-theme-color-4: #FFF3D7;
  --tp-theme-orange: #FF5B15;
  --tp-theme-orange-2: #FF3838;
  --tp-heading-color: #0A0E1A;
  --tp-black-common: #0A0E1A;
  --tp-body-color: #57595C;
  --tp-theme-nblue: #001C52;
  --tp-common-black: #0A0E19;
  --tp-cream: #FBF6EF;
  --tp-cream-2: #FDF6F2;
  --tp-black: black;
  --tp-white: white;
  --tp-rom-color: #fbf6ef;
  --tp-grey-color: #f6f6f6;
  --tp-grey-color-2: #f6f6f6;
  --tp-grey-color-3: #f6f6f6;
  --tp-grey-color-4: #f6f6f6;
}

:root {
  --tp-font-heading: "Federo", sans-serif;
  --tp-font-body: "DM Sans", sans-serif;
  --tp-font-flaticon: "flaticon";
}

/*----------------------------------------*/
/*  4.1 Postbox
/*----------------------------------------*/
.tp-postbox-title a:hover {
  color: var(--tp-theme-color);
}
.tp-postbox-meta span {
  margin-right: 16px;
  padding-right: 16px;
  position: relative;
}
.tp-postbox-meta span a:hover {
  color: var(--tp-theme-color);
}
.tp-postbox-meta span:after {
  position: absolute;
  content: "";
  background: #57595c;
  height: 16px;
  width: 2px;
  right: 0;
  top: 4px;
}
.tp-postbox-meta span i {
  margin-right: 2px;
  font-size: 20px;
}
.tp-postbox-meta span:last-child:after {
  display: none;
}
@media (max-width: 767px) {
  .tp-postbox-title {
    font-size: 30px;
  }
}
.tp-postbox-details blockquote {
  border: 1px solid #57595c;
  text-align: center;
  border-radius: 20px;
  padding: 60px;
}
@media (max-width: 767px) {
  .tp-postbox-details blockquote {
    padding: 30px;
  }
}
.tp-postbox-details blockquote i {
  font-size: 50px;
  margin-bottom: 25px;
}
.tp-postbox-details blockquote p {
  font-size: 30px;
  font-family: var(--tp-font-heading);
  color: #000;
  line-height: 1.2;
  margin-bottom: 30px;
}
.tp-postbox-details blockquote cite {
  color: #0a0e1a;
  font-size: 20px;
  font-style: normal;
}
@media (max-width: 767px) {
  .tp-postbox-tag {
    margin-bottom: 20px;
  }
}
.tp-postbox-tag-wrapper {
  border: 1px solid #57595c;
  padding: 25px 40px;
  border-radius: 10px;
}
.tp-postbox-tag span {
  color: #0a0e1a;
  font-weight: 500;
  margin-right: 5px;
}
.tp-postbox-tag a {
  font-size: 15px;
  font-weight: 500;
  color: #0a0e1a;
  text-transform: uppercase;
  background: #fbf6ef;
  display: inline-block;
  padding: 17px 18px;
  line-height: 1;
  border-radius: 10px;
  margin-right: 8px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .tp-postbox-tag a {
    padding: 10px 15px;
  }
}
.tp-postbox-tag a:hover {
  background-color: var(--tp-theme-color);
  color: #fff;
}
.tp-postbox-social a {
  border: 1px solid #57595c;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #57595c;
  border-radius: 10px;
  height: 42px;
  width: 42px;
  display: inline-block;
  transition: 0.3s;
}
.tp-postbox-social a:hover {
  background-color: var(--tp-theme-color);
  color: #fff;
}
.tp-postbox-comments ul {
  list-style: none;
}
.tp-postbox-comments ul li {
  margin-bottom: 60px;
}
.tp-postbox-comments ul li.children {
  padding-left: 100px;
}
@media (max-width: 767px) {
  .tp-postbox-comments ul li.children {
    padding-left: 20px;
  }
}
.tp-postbox-comments-thumb {
  float: left;
}
.tp-postbox-comments-thumb img {
  width: 120px;
  height: 120px;
  margin-right: 30px;
}
.tp-postbox-comments-text {
  overflow: hidden;
  position: relative;
}
.tp-postbox-comments-text span {
  color: #57595c;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}
.tp-postbox-comments-author {
  font-size: 20px;
  margin-bottom: 5px;
}

.reply,
.comments-reply-link {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  color: #57595c;
}
.reply:hover,
.comments-reply-link:hover {
  color: var(--tp-theme-color);
}
@media (max-width: 767px) {
  .reply,
  .comments-reply-link {
    position: static;
  }
}

.tp-swiper-blog-button {
  height: 75px;
  width: 135px;
  background: var(--tp-theme-color-2);
  display: inline-block;
  border-radius: 100%;
  line-height: 89px;
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  left: 30px;
}
.tp-swiper-blog-button-prev {
  transform: translateY(-50%) rotate(180deg);
}
.tp-swiper-blog-button-next {
  left: auto;
  right: 30px;
}

.tp-blog-video {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
}
.tp-blog-video a {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  color: #222;
  line-height: 100px;
  font-size: 21px;
  background-color: var(--tp-theme-color-2);
  display: inline-block;
}

.tp-pagination ul {
  list-style: none;
}
.tp-pagination ul li {
  display: inline-block;
  margin-right: 7px;
}
.tp-pagination ul li a, .tp-pagination ul li span {
  border: 1px solid #57595c;
  line-height: 58px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: #57595c;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  display: inline-block;
  transition: 0.3s;
}
.tp-pagination ul li a.active, .tp-pagination ul li a:hover, .tp-pagination ul li a.current, .tp-pagination ul li span.active, .tp-pagination ul li span:hover, .tp-pagination ul li span.current {
  background-color: var(--tp-theme-color);
  border-color: var(--tp-theme-color);
  color: #fff;
}
.tp-pagination ul li a i, .tp-pagination ul li span i {
  font-size: 26px;
  transform: translateY(3px);
}

.contact-form-box textarea {
  height: 150px;
}

.postbox__comment li .children {
  margin-top: 50px;
  padding-left: 50px;
}

.comment-reply-title {
  font-size: 40px;
}
.comment-reply-title small {
  padding-left: 50px;
}

/*----------------------------------------*/
/*  4.2 Recent Post
/*----------------------------------------*/
.tpblog__thumb img {
  width: 100%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .tpblog__content {
    padding-left: 0px;
  }
}
.tpblog__content-meta {
  width: 55px;
  height: 170px;
  background: #FFE4FB;
  justify-content: center;
  padding: 8px 0;
  position: relative;
  display: flex;
  align-items: end;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 10px;
}
.tpblog__content-meta span {
  display: flex;
  flex-direction: column-reverse;
}
.tpblog__content-meta span cite {
  position: absolute;
  width: 130px;
  transform: rotate(-90deg);
  left: -37px;
  bottom: 97px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}
.tpblog__content-meta i {
  height: 45px;
  width: 45px;
  background: #fff;
  border-radius: 5px;
  line-height: 42px;
  text-align: center;
  margin: auto;
  border: 1px solid #57595C;
  border-radius: 10px;
}
.tpblog__title {
  font-size: 30px;
  line-height: 1.25;
}
.tpblog__title:hover {
  color: var(--tp-theme-color);
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tpblog__title {
    font-size: 27px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tpblog__title {
    font-size: 27px;
  }
}
.tpblog__meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.tpblog__meta span {
  font-size: 17px;
  color: #57595c;
}
.tpblog__meta span i {
  margin-right: 5px;
}
.tpblog__meta cite {
  width: 2px;
  height: 16px;
  background: #57595C;
  display: inline-block;
  margin: 0 14px;
}
.tpblog-2 {
  border: 1px solid #000;
  position: relative;
}
@media (max-width: 767px) {
  .tpblog-2 {
    padding: 5px;
  }
}
.tpblog-2 .tpblog__thumb {
  width: 200px;
  flex: 0 0 auto;
  transform: translateY(-12px);
  margin-left: -3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 767px) {
  .tpblog-2 .tpblog__thumb {
    position: static;
    width: 100%;
    margin: auto;
    height: auto;
    transform: translateY(0px);
  }
}
.tpblog-2 .tpblog__thumb img {
  height: calc(100% + 24px);
  -o-object-fit: cover;
     object-fit: cover;
}
.tpblog-2 .tpblog__content {
  padding-left: 228px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .tpblog-2 .tpblog__content {
    padding: 25px 25px;
  }
}

/** @format */
/*----------------------------------------*/
/*  4.3 Sidebar
/*----------------------------------------*/
.tp-blog-sidebar-widget {
  background: #fbf6ef;
  padding: 40px;
  border-radius: 10px;
}
.tp-blog-sidebar-title span {
  height: 10px;
  width: 10px;
  border-radius: 30px;
  background: var(--tp-theme-color);
  display: inline-block;
  margin-right: 5px;
  transform: translateY(-3px);
}
.tp-blog-sidebar-post-thumb img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.tp-blog-sidebar-post-title:hover {
  color: var(--tp-theme-color);
}
.tp-blog-sidebar-cat ul li {
  margin-bottom: 15px;
  list-style: none;
}
.tp-blog-sidebar-cat ul li a {
  color: #57595c;
  display: block;
  padding: 20px 25px;
  line-height: 1;
  position: relative;
  background-color: #fff;
  border: 1px solid #57595c;
  border-radius: 5px;
}
.tp-blog-sidebar-cat ul li a:hover {
  background-color: var(--tp-theme-color);
  color: #fff;
  border-color: var(--tp-theme-color);
}
.tp-blog-sidebar-cat ul li a:after {
  content: "\f061";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%) rotate(-40deg);
}
.tp-blog-sidebar-cat ul li:last-child {
  margin-bottom: 0;
}

.widget_categories ul li {
  margin-bottom: 15px;
  list-style: none;
}
.widget_categories ul li a {
  color: #57595c;
  display: block;
  padding: 20px 25px;
  line-height: 1;
  position: relative;
  background-color: #fff;
  border: 1px solid #57595c;
  border-radius: 5px;
}
.widget_categories ul li a:hover {
  background-color: var(--tp-theme-color);
  color: #fff;
  border-color: var(--tp-theme-color);
}
.widget_categories ul li a:after {
  content: "\f061";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%) rotate(-40deg);
}
.widget_categories ul li:last-child {
  margin-bottom: 0;
}

.tp-blog-form input {
  border: 1px solid #57595c;
  padding: 0 20px;
  border-radius: 5px;
}
.tp-blog-form input::-webkit-input-placeholder {
  text-transform: capitalize;
  font-weight: 500;
}
.tp-blog-form input:-moz-placeholder {
  text-transform: capitalize;
  font-weight: 500;
}
.tp-blog-form input::-moz-placeholder {
  text-transform: capitalize;
  font-weight: 500;
}
.tp-blog-form input:-ms-input-placeholder {
  text-transform: capitalize;
  font-weight: 500;
}
.tp-blog-form button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.tp-blog-sidebar-post-item {
  border-bottom: 1px solid #57595c;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.tp-blog-sidebar-post-item:last-child {
  margin: 0;
  padding: 0;
  border: 0;
}

.tagcloud a {
  font-size: 15px !important;
  font-weight: 500;
  border: 1px solid #57595c;
  color: #57595c;
  padding: 17px 17px;
  display: inline-block;
  line-height: 1;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.tagcloud a:hover {
  background-color: var(--tp-theme-color);
  color: #fff;
  border-color: var(--tp-theme-color);
}/*# sourceMappingURL=index.css.map */