:root {
  --tp-theme-color: #0057FC;
  --tp-theme-color-2: #FFE815;
  --tp-theme-color-3: #FEDC76;
  --tp-theme-color-4: #FFF3D7;
  --tp-theme-orange: #FF5B15;
  --tp-theme-orange-2: #FF3838;
  --tp-heading-color: #0A0E1A;
  --tp-black-common: #0A0E1A;
  --tp-body-color: #57595C;
  --tp-theme-nblue: #001C52;
  --tp-common-black: #0A0E19;
  --tp-cream: #FBF6EF;
  --tp-cream-2: #FDF6F2;
  --tp-black: black;
  --tp-white: white;
  --tp-rom-color: #fbf6ef;
  --tp-grey-color: #f6f6f6;
  --tp-grey-color-2: #f6f6f6;
  --tp-grey-color-3: #f6f6f6;
  --tp-grey-color-4: #f6f6f6;
}

:root {
  --tp-font-heading: "Federo", sans-serif;
  --tp-font-body: "DM Sans", sans-serif;
  --tp-font-flaticon: "flaticon";
}

/*----------------------------------------*/
/*  2.1 Accordion
/*----------------------------------------*/
.tp-accordion-header {
  margin: 0;
}
.tp-accordion-item {
  border: 1px solid #57595c;
  border-radius: 10px;
}
.tp-accordion-button {
  font-size: 20px;
  width: 100%;
  padding: 23px 30px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.tp-accordion-button span {
  margin-left: 20px;
  font-size: 16px;
  color: #57595c;
}
.tp-accordion-button.collapsed span {
  transform: rotate(-90deg);
}
.tp-accordion-body {
  margin: 0 30px;
  border-top: 1px solid #57595c;
  padding-top: 20px;
  padding-bottom: 10px;
}

.tp-faq-button {
  text-align: left;
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid transparent;
  margin-bottom: 0px;
  padding-top: 0px;
  display: block;
  width: 100%;
}
.tp-faq-button:after {
  content: "-";
}
.tp-faq-button.collapsed {
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 20px;
}
.tp-faq-button.collapsed:after {
  content: "+";
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-faq-thumb {
    margin-left: 0;
  }
}
.tp-faq-thumb img {
  max-width: inherit;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-faq-thumb img {
    max-width: 100%;
  }
}

/*----------------------------------------*/
/*  2.4 Button
/*----------------------------------------*/
.tp-btn {
  background: var(--tp-theme-color);
  padding: 16px 45px;
  font-size: 18px;
  font-family: var(--tp-font-heading);
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.tp-btn > i {
  height: 100%;
  width: 22px;
  background-color: #71A2FF;
  position: absolute;
  bottom: -2px;
  right: -12px;
  transform: rotate(13deg);
  transition: 0.3s;
}
.tp-btn:hover {
  color: #fff;
}
.tp-btn:hover .tp-btn-y-1 {
  transform: translateY(-100%);
}
.tp-btn:hover .tp-btn-y-2 {
  transform: translateY(0);
}
.tp-btn:hover i {
  right: -100%;
}
.tp-btn-orange {
  background: var(--tp-theme-orange);
  padding: 16px 45px;
  font-size: 18px;
  font-family: var(--tp-font-heading);
  border-radius: 5px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #fff;
}
.tp-btn-orange > i {
  height: 100%;
  width: 22px;
  background-color: #FFAD8A;
  position: absolute;
  bottom: -2px;
  right: -12px;
  transform: rotate(13deg);
  transition: 0.3s;
}
.tp-btn-orange:hover {
  color: #fff;
}
.tp-btn-orange:hover .tp-btn-y-1 {
  transform: translateY(-100%);
}
.tp-btn-orange:hover .tp-btn-y-2 {
  transform: translateY(0);
}
.tp-btn-orange:hover i {
  right: -100%;
}
.tp-btn-sec {
  background: var(--tp-theme-color-2);
  padding: 16px 45px;
  font-size: 18px;
  font-family: var(--tp-font-heading);
  border-radius: 5px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.tp-btn-sec-lg {
  padding: 21px 48px;
}
.tp-btn-sec > i {
  height: 100%;
  width: 22px;
  background-color: #E5CF00;
  position: absolute;
  bottom: -2px;
  right: -12px;
  transform: rotate(13deg);
  transition: 0.3s;
}
.tp-btn-sec:hover .tp-btn-y-1 {
  transform: translateY(-100%);
}
.tp-btn-sec:hover .tp-btn-y-2 {
  transform: translateY(0);
}
.tp-btn-sec:hover i {
  right: -100%;
}
.tp-btn-circle {
  font-family: var(--tp-font-heading);
  font-size: 60px;
  color: #fff;
  opacity: 0.3;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 48px 75px;
  display: inline-block;
  line-height: 1;
  border-radius: 100%;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .tp-btn-circle {
    font-size: 45px;
  }
}
.tp-btn-circle:hover {
  background: var(--tp-theme-color);
  color: #fff;
  border-color: var(--tp-theme-color);
  opacity: 1;
}
.tp-btn-wrap {
  position: relative;
  overflow: hidden;
  display: block;
}
.tp-btn-wrap span {
  transition: 0.2s;
  display: block;
}
.tp-btn-wrap span i {
  font-size: 15px;
  transform: rotate(-40deg);
  margin-left: 5px;
}
.tp-btn-y-2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: translateY(100%);
}
.tp-btn-border {
  border: 1px solid #57595C;
  padding: 12px 35px;
  display: inline-block;
  font-size: 18px;
  color: #0A0E1A;
  font-family: var(--tp-font-heading);
}
.tp-btn-border:hover {
  background-color: var(--tp-theme-color);
  color: #fff;
  border-color: var(--tp-theme-color);
}
.tp-btn-200 {
  padding: 16px 35px;
}

.tp-text-btn {
  font-size: 18px;
  color: #0a0e1a;
  font-family: var(--tp-font-heading);
  display: flex;
  align-items: center;
}
.tp-text-btn i {
  margin-left: 8px;
  transform: rotate(-45deg);
}
.tp-text-btn-white {
  color: #A3AEC3;
}
.tp-text-btn:hover {
  color: var(--tp-theme-color);
}

.circle-icon-btn {
  height: 60px;
  width: 60px;
  background: var(--tp-theme-orange);
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
  font-size: 15px;
}
.circle-icon-btn:hover {
  background-color: var(--tp-theme-color);
  color: #fff;
  border-color: var(--tp-theme-color);
}
.circle-icon-btn i {
  transform: rotate(-45deg);
}

.tp-icon-btn {
  font-size: 55px;
  position: relative;
  display: inline-block;
}
.tp-icon-btn span {
  height: 38px;
  width: 38px;
  background: #F8F5FF;
  display: inline-block;
  position: absolute;
  right: -11px;
  z-index: -1;
  border-radius: 30px;
  top: 8px;
  transition: 0.3s;
}
.tp-icon-btn:hover span {
  background-color: var(--tp-theme-color-2);
}

/*----------------------------------------*/
/*  2.9 Section Title
/*----------------------------------------*/
.tp-section-subtitle {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #57595c;
  display: block;
}
.tp-section-subtitle-white {
  color: #A3AEC3;
}
.tp-section-subtitle i {
  height: 10px;
  width: 10px;
  border-radius: 30px;
  background: var(--tp-theme-color);
  display: inline-block;
}
.tp-section-subtitle i.sub-dot-color {
  background: var(--tp-theme-orange);
}
.tp-section-title {
  font-size: 60px;
}
.tp-section-title.tp-fs-40 {
  font-size: 40px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-section-title {
    font-size: 54px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-section-title {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .tp-section-title {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .tp-section-title br {
    display: none;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-section-title-br br {
    display: none;
  }
}
.tp-section-title-white {
  color: #fff;
}
@media (max-width: 767px) {
  .tp-section-title-wrapper p br {
    display: none;
  }
}
.tp-section-title-40 {
  font-size: 40px;
}
@media (max-width: 767px) {
  .tp-section-title-40 {
    font-size: 22px;
  }
}
.tp-section-title-content-white {
  color: #A3AEC3;
}
.tp-section-title-content-white b {
  color: #fff;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .xl-fns-45 {
    font-size: 45px;
  }
}

.tp-services-details-list-item {
  background: #FBF6EF;
  padding: 30px;
}
.tp-services-details-list-item span {
  font-size: 24px;
  color: #fff;
  background: #0057FC;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  flex: 0 0 auto;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-services-details-list-title {
    font-size: 20px;
  }
}

/*----------------------------------------*/
/*  2.6 Offcanvas
/*----------------------------------------*/
.tp-offcanvas {
  position: fixed;
  z-index: 99;
  background: #fff;
  width: 400px;
  right: 0;
  top: 0;
  padding: 50px 40px;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: 0.3s;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scrollbar-width: none;
}
.tp-offcanvas-logo img {
  width: 168px;
}
@media only screen and (max-width: 400px) {
  .tp-offcanvas {
    width: 100%;
    padding: 35px 30px;
  }
}
.tp-offcanvas-open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.tp-offcanvas-close-toggle {
  font-size: 29px;
  color: var(--tp-heading-color);
  transition: 0.3s;
}
.tp-offcanvas-close-toggle:hover {
  transform: rotate(90deg);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-offcanvas-header {
    margin-bottom: 40px;
  }
}
.tp-offcanvas-title {
  font-size: 35px;
}
.tp-offcanvas-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.tp-offcanvas-info span {
  color: #222;
  display: block;
  margin-bottom: 5px;
}
.tp-offcanvas-info span:hover {
  color: var(--tp-theme-color);
}
.tp-offcanvas-sm-title {
  font-size: 25px;
  margin-bottom: 15px;
}
.tp-offcanvas-social a {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 39px;
  border-radius: 40px;
  color: var(--tp-heading-color);
  border: 1px solid rgba(2, 11, 24, 0.1);
  font-size: 14px;
}
.tp-offcanvas-social a:hover {
  background-color: var(--tp-theme-color);
  color: #fff;
  border-color: var(--tp-theme-color);
}
.tp-offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.45s ease-in-out;
  background: rgba(24, 24, 24, 0.4);
}
.tp-offcanvas-overlay-open {
  opacity: 0.7;
  visibility: visible;
}

/*----------------------------------------*/
/*  2.3 Breadcrumb
/*----------------------------------------*/
.tp-breadcrumb-space {
  padding-top: 235px;
  padding-bottom: 140px;
}
.tp-breadcrumb-title {
  font-size: 70px;
}
@media (max-width: 767px) {
  .tp-breadcrumb-title {
    font-size: 50px;
  }
}
.tp-breadcrumb-list span {
  margin: 0 2px;
  display: inline-block;
  color: #B1B4BA;
}
.tp-breadcrumb-list span.active a {
  color: var(--tp-theme-color-2);
}
.tp-breadcrumb-list span a {
  color: #B1B4BA;
  font-size: 20px;
}
.tp-breadcrumb-list span.dvir {
  margin: 0 2px;
}

.tp-breadcrumb-shape-1 {
  left: 10%;
  top: 43%;
  z-index: 1;
}
.tp-breadcrumb-shape-2 {
  right: 34%;
  top: 30%;
  z-index: 1;
}
.tp-breadcrumb-shape-3 {
  right: 15%;
  top: 50%;
  z-index: 1;
}

/*----------------------------------------*/
/*  2.9 Skill
/*----------------------------------------*/
.tp-skill-item label {
  font-size: 15px;
  font-weight: 500;
  color: #0A0E1A;
  margin-bottom: 8px;
  line-height: 1;
}
.tp-skill-item .progress-bar {
  background-color: var(--tp-theme-color);
}
.tp-skill-item .progress, .tp-skill-item .progress-stacked {
  height: 12px;
  background-color: transparent;
  border-radius: 4px;
}

.progress-outer {
  border: 1px solid #57595C;
  padding: 3px;
  border-radius: 5px;
  position: relative;
}
.progress-num {
  position: absolute;
  left: calc(25% - 31px);
  top: -36px;
  background: var(--tp-theme-color);
  color: #fff;
  padding: 6px 5px;
  font-size: 11px;
  line-height: 1;
  border-radius: 4px;
}
.progress-num:before {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent var(--tp-theme-color) transparent transparent;
  transform: rotate(0deg);
  content: "";
  position: absolute;
  top: 99%;
  right: 8px;
}

/*----------------------------------------*/
/*  2.8 Search Bar
/*----------------------------------------*/
.tp-header-search-bar {
  height: 400px;
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  z-index: 99;
  background: #fff;
  transition: 0.3s;
}
.tp-header-search-bar.tp-search-open {
  top: 0;
}

.contact-search-form-box form {
  position: relative;
}
.contact-search-form-box form button {
  position: absolute;
  right: 0;
  top: 13px;
  font-size: 17px;
}

.tp-search-close {
  position: absolute;
  right: 50px;
  top: 35px;
  font-size: 50px;
  color: #222;
  font-weight: 300;
  width: 45px;
  height: 45px;
}

/*----------------------------------------*/
/*  2.7 Preloader
/*----------------------------------------*/
#loading {
  background-color: var(--tp-common-black);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  margin-top: 0px;
  top: 0px;
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  transform: rotate(-135deg);
}

.object {
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  border-top: 5px solid #FFF;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #FFF;
  border-right: 5px solid transparent;
  animation: animate 2s infinite;
}

#object_one {
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
}

#object_two {
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  animation-delay: 0.2s;
}

#object_three {
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  animation-delay: 0.4s;
}

#object_four {
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  animation-delay: 0.6s;
}
@keyframes animate {
  50% {
    transform: rotate(360deg) scale(0.8);
  }
}
/*----------------------------------------*/
/*  2.2 Back to Top
/*----------------------------------------*/
#back-to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: var(--tp-theme-color);
  color: #fff;
  z-index: 9;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transform: scale(0.7);
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/*----------------------------------------*/
/*  2.5 Custom Animation
/*----------------------------------------*/
.tpFadeInUp {
  opacity: 0; /* Start invisible */
  animation: tpFadeInUp 2s ease-out forwards; /* 2 seconds duration, ease-out effect */
}

@keyframes tpFadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Start slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}
@keyframes tpslideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.tpfadeInLeft {
  opacity: 0; /* Start invisible */
  animation: tpfadeInLeft 2s ease-out forwards; /* 2 seconds duration, ease-out effect */
}

@keyframes tpfadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); /* Start slightly to the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}
@keyframes tpfadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); /* Start slightly to the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}
.tpSkillInLeft {
  opacity: 0; /* Start invisible */
  animation: tpSkillInLeft 2s ease-out forwards; /* 2 seconds duration, ease-out effect */
}

@keyframes tpSkillInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px); /* Start slightly to the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}
.slideinup {
  animation-name: slideinup;
}

@keyframes slideinup {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideinright {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideindown {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}
.slideinleft {
  animation-name: slideinleft;
}

@keyframes slideinleft {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slidebottomright {
  0% {
    opacity: 0;
    transform: translateX(100px) translateY(100px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes slidetopleft {
  0% {
    opacity: 0;
    transform: translateX(-100px) translateY(-100px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  0% {
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  75% {
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-bottom-color: transparent;
  }
  100% {
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
  }
}
/*img-animation**********************/
.img-custom-anim-right {
  animation: img-anim-right 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

@keyframes img-anim-right {
  0% {
    transform: translateX(5%);
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.img-custom-anim-left {
  animation: img-anim-left 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

@keyframes img-anim-left {
  0% {
    transform: translateX(-5%);
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.img-custom-anim-top {
  animation: img-anim-top 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
}

@keyframes img-anim-top {
  0% {
    transform: translateY(-5%);
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */