:root {
  --tp-theme-color: #0057FC;
  --tp-theme-color-2: #FFE815;
  --tp-theme-color-3: #FEDC76;
  --tp-theme-color-4: #FFF3D7;
  --tp-theme-orange: #FF5B15;
  --tp-theme-orange-2: #FF3838;
  --tp-heading-color: #0A0E1A;
  --tp-black-common: #0A0E1A;
  --tp-body-color: #57595C;
  --tp-theme-nblue: #001C52;
  --tp-common-black: #0A0E19;
  --tp-cream: #FBF6EF;
  --tp-cream-2: #FDF6F2;
  --tp-black: black;
  --tp-white: white;
  --tp-rom-color: #fbf6ef;
  --tp-grey-color: #f6f6f6;
  --tp-grey-color-2: #f6f6f6;
  --tp-grey-color-3: #f6f6f6;
  --tp-grey-color-4: #f6f6f6;
}

:root {
  --tp-font-heading: "Federo", sans-serif;
  --tp-font-body: "DM Sans", sans-serif;
  --tp-font-flaticon: "flaticon";
}

/*----------------------------------------*/
/*  6.8 Hero
/*----------------------------------------*/
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .tp-hero-wrapper-4 {
    padding-left: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-wrapper-4 p {
    width: 63%;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .tp-hero {
    padding-left: 90px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .tp-hero-black {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  .tp-hero-space {
    padding-top: 180px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-2-space {
    padding-bottom: 0px;
    padding-top: 190px;
  }
}
@media (max-width: 767px) {
  .tp-hero-2-space {
    padding-bottom: 0px;
    padding-top: 150px;
  }
}
.tp-hero-title {
  color: #FFF;
  font-size: 110px;
  text-transform: uppercase;
  margin: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-hero-title {
    font-size: 100px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-hero-title {
    font-size: 75px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-title {
    font-size: 66px;
  }
}
@media (max-width: 767px) {
  .tp-hero-title {
    font-size: 45px;
  }
}
.tp-hero-title span {
  background: radial-gradient(42.24% 2817.5% at 52.45% 54.17%, rgba(255, 232, 21, 0.95) 0%, #3C7FFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tp-hero-title i {
  color: #B1B4BA;
  font-size: 30px;
  font-style: normal;
  display: inline-block;
  transform: translateY(-5px);
}
@media (max-width: 767px) {
  .tp-hero-title i {
    font-size: 18px;
  }
}
.tp-hero-title-2 {
  font-size: 100px;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .tp-hero-title-2 {
    font-size: 90px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-hero-title-2 {
    font-size: 85px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-hero-title-2 {
    font-size: 75px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-title-2 {
    font-size: 90px;
  }
}
@media (max-width: 767px) {
  .tp-hero-title-2 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-hero-title-2 {
    font-size: 70px;
  }
}
@media (max-width: 767px) {
  .tp-hero-title-2 img {
    width: 40px;
    height: auto;
  }
}
.tp-hero-title-black {
  color: #0A0E1A;
  font-size: 100px;
  animation-delay: 0.3s;
  animation-duration: 1s;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-hero-title-black {
    font-size: 80px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-hero-title-black {
    font-size: 68px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-title-black {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .tp-hero-title-black {
    font-size: 40px;
  }
}
.tp-hero-title-black img {
  margin-left: 55px;
  transform: translateY(-12px);
}
@media (max-width: 767px) {
  .tp-hero-title-black img {
    margin-left: 0;
    width: 50px;
    transform: translateY(-6px);
  }
}
.tp-hero p {
  animation-delay: 0.5s;
  animation-duration: 1s;
}
.tp-hero-btn {
  animation-delay: 0.7s;
  animation-duration: 1s;
}
.tp-hero-desc p {
  color: #b1b4ba;
  font-size: 30px;
  font-style: normal;
  display: inline-block;
  transform: translateY(-5px);
  font-family: var(--tp-font-heading);
  line-height: 1.33;
  margin: 0;
  margin-right: 60px;
}
@media (max-width: 767px) {
  .tp-hero-desc p {
    font-size: 18px;
  }
}
.tp-hero-url-bg {
  width: 30px;
  height: 65px;
  background: #fff;
  opacity: 0.2;
  display: inline-block;
}
.tp-hero-url-box a {
  display: flex;
  align-items: center;
}
.tp-hero-url-box i {
  color: #B1B4BA;
  font-size: 52px;
  display: inline-flex;
  margin-left: -24px;
  transition: 0.3s;
}
.tp-hero-url-box:hover i {
  color: var(--tp-theme-color-2);
}
.tp-hero-black-content {
  margin-left: 155px;
  max-width: 488px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-hero-black-content {
    margin-left: 100px;
    margin-right: 65px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-black-content {
    margin-left: 40px;
    margin-right: 65px;
  }
}
@media (max-width: 767px) {
  .tp-hero-black-content {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  }
}
.tp-hero-img {
  flex: 0 0 auto;
}
@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .tp-hero-img {
    width: 325px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .tp-hero-img {
    width: 250px;
    margin-right: 40px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-hero-img {
    width: 200px;
    margin-right: 40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-hero-img {
    width: 100px;
    margin-right: 0px;
  }
}
.tp-hero-img img {
  max-width: inherit;
}
@media screen and (min-width: 1400px) and (max-width: 1800px) {
  .tp-hero-img img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-hero-img img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-hero-img img {
    max-width: 100%;
  }
}

.hero-info {
  color: #B1B4BA;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  width: 100px;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  top: 100px;
  position: absolute;
  z-index: 11;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  white-space: nowrap;
}

.hero-social {
  transform: rotate(-90deg);
  display: block ruby;
}

.hero-info-text {
  transform: rotate(-90deg);
  display: block ruby;
}

.tp-hero-shape-1 {
  top: 370px;
  left: -50px;
  z-index: 1;
}
@media (max-width: 767px) {
  .tp-hero-shape-1 {
    top: 200px;
  }
}
.tp-hero-shape-2 {
  left: 380px;
  top: 299px;
  z-index: 1;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-hero-shape-2 {
    top: 50%;
    width: 24%;
  }
}
.tp-hero-shape-3 {
  left: 59%;
  top: 31%;
  z-index: 1;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-hero-shape-3 {
    left: 35%;
    top: 29%;
  }
}
.tp-hero-shape-4 {
  right: 300px;
  bottom: 130px;
  z-index: 1;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-hero-shape-4 {
    right: 100px;
    bottom: 73px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-shape-4 {
    right: 200px;
    bottom: 73px;
  }
}
.tp-hero-shape-5 {
  right: 190px;
  top: 300px;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-shape-5 {
    right: 100px;
    top: 45%;
  }
}

.tp-hero-3-shape-1 {
  right: 100px;
  border-radius: 100%;
  bottom: 55px;
  z-index: 2;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .tp-hero-3-shape-1 {
    width: 300px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-hero-3-shape-1 {
    width: 200px;
    bottom: 100px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-hero-3-shape-1 {
    width: 200px;
    bottom: 100px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-3-shape-1 {
    width: 200px;
    bottom: 100px;
  }
}
@media (max-width: 767px) {
  .tp-hero-3-shape-1 {
    width: 100px;
    right: 50px;
    bottom: 25px;
  }
}
.tp-hero-3-shape-2 {
  right: 60px;
  top: 137px;
  z-index: 1;
}
@media (max-width: 767px) {
  .tp-hero-3-shape-2 {
    right: 30px;
    width: 100px;
  }
}

.hero-bg-img {
  position: absolute;
  width: 43.4%;
  height: calc(100% - 100px);
  right: 0;
  bottom: 0;
  background-size: cover;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-bg-img {
    position: static;
    width: 100%;
    height: 500px;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .hero-bg-img {
    position: static;
    width: 100%;
    height: 400px;
    margin-top: 30px;
  }
}

.ml-m-7 {
  margin-left: -7px;
}

.hero-circle-shape {
  height: 717px;
  width: 717px;
  top: 140px;
  background: #FFE6CE;
  border-radius: 100%;
  left: -100px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-circle-shape {
    height: 400px;
    width: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-circle-shape {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 767px) {
  .hero-circle-shape {
    height: 250px;
    width: 250px;
    left: -50px;
  }
}

.tp-el-shape {
  right: 0;
  bottom: 0;
}
.tp-el-shape img {
  width: 95%;
  animation-delay: 0.9s;
  animation-duration: 1s;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-el-shape img {
    width: 79%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-el-shape img {
    width: 63%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-el-shape img {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .tp-el-shape img {
    width: 50%;
  }
}
.tp-el-shape-5 img {
  width: 98%;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .tp-el-shape-5 img {
    width: 88%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-el-shape-5 img {
    width: 78%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-el-shape-5 img {
    width: 58%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-el-shape-5 img {
    width: 38%;
  }
}
@media (max-width: 767px) {
  .tp-el-shape-5 img {
    width: 50%;
  }
}

.tp-hero-content-5 {
  padding-right: 70px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-hero-content-5 {
    padding-right: 44px;
  }
}
@media (max-width: 767px) {
  .tp-hero-content-5 {
    padding-right: 0;
  }
}

.hero-social-4 {
  position: absolute;
  display: flex;
  transform: rotate(-90deg);
  font-size: 17px;
  color: #0A0E1A;
  top: 49%;
  left: 0;
  font-weight: 500;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .hero-social-4 {
    left: -70px;
    display: none;
  }
}
.hero-social-4 span {
  display: inline-block;
  margin: 0 5px;
}

.tp-hero-star-shape-1 {
  left: 65px;
  top: 270px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-hero-star-shape-1 {
    top: 212px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-hero-star-shape-1 {
    top: 150px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-star-shape-1 {
    top: 150px;
  }
}
.tp-hero-star-shape-2 {
  left: 37%;
  top: 177px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-star-shape-2 {
    left: 70%;
  }
}
.tp-hero-star-shape-3 {
  left: 46%;
  bottom: 106px;
}

.swiper-slide-active .tp-hero-title-black, .swiper-slide-active .tp-hero p, .swiper-slide-active .tp-hero-btn {
  animation-name: tpFadeInUp;
  animation-fill-mode: both;
}
.swiper-slide-active .tp-el-shape img {
  animation-name: tpfadeInRight;
  animation-fill-mode: both;
}

/*----------------------------------------*/
/*  6.1 About
/*----------------------------------------*/
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-about-box {
    padding-left: 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-about-box {
    padding-left: 0px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-about-wrapper {
    padding-left: 100px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-about-wrapper {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  .tp-about-img {
    margin-bottom: 40px;
    padding-left: 0;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-about-video {
    padding-left: 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-about-video {
    padding-left: 0px;
  }
}
.tp-about-video-icon a {
  height: 80px;
  width: 80px;
  border: 1px solid #57595C;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  display: inline-block;
}
.tp-about-video-icon a:hover {
  background-color: var(--tp-theme-color);
  color: #fff;
  border-color: var(--tp-theme-color);
}
.tp-about-video h4 {
  font-size: 30px;
  color: #57595C;
}
.tp-about-feature-icon span {
  font-size: 87px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), (max-width: 767px) {
  .tp-about-skill-box {
    padding-left: 0;
  }
}

.tp-about-shape-1 {
  top: 18%;
  left: 0;
  z-index: 1;
}

.tp-about-shape-3 {
  right: 0;
  top: 0;
  z-index: 1;
}

.tp-about-shape-2 {
  top: 40%;
  left: 35%;
  z-index: 1;
}

.tp-about-content ul li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
}
.tp-about-content ul li i {
  font-size: 30px;
  color: #000;
  margin-right: 10px;
  margin-top: 5px;
}
.tp-about-content ul li span {
  font-size: 30px;
  line-height: 1.33;
  color: #0a0e1a;
  font-family: var(--tp-font-heading);
}

.tp-about-circle-img {
  position: absolute;
  top: 0;
  right: 185px;
  z-index: 1;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-about-circle-img {
    position: static;
  }
}
.tp-about-circle-img img {
  max-width: inherit;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-about-circle-img img {
    max-width: 100%;
  }
}

.tp-about-circle {
  width: 615px;
  height: 596px;
  background-color: var(--tp-theme-color-3);
  border-radius: 100%;
  position: absolute;
  bottom: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-about-circle {
    width: 550px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-about-circle {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 767px) {
  .tp-about-circle {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 767px) {
  .tp-about-thumb {
    margin-left: 0;
    margin-right: 0;
  }
}
.tp-about-thumb > img {
  position: relative;
  z-index: 2;
}

.tp-about-2-shape-1 {
  right: 50px;
  top: 0px;
}
.tp-about-2-shape-2 {
  left: -55px;
  top: 140px;
}

.tp-bg-circle {
  border-radius: 360px;
  margin: 0 100px;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .tp-bg-circle {
    margin: 0 30px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-bg-circle {
    margin: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-bg-circle {
    border-radius: 0;
  }
}

.tp-founder-sep {
  height: 40px;
  background: #FF3838;
  width: 1px;
  margin: 25px auto;
}

.tp-about-box-right {
  position: absolute;
  width: 52%;
  right: 0;
  top: 0;
  background: #fff;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-about-box-right {
    position: static;
    width: 100%;
    margin-top: 80px;
    padding-top: 45px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-about-fact-right-area {
    padding-bottom: 0;
  }
}

.tp-exp {
  background: var(--tp-theme-color-2);
  padding: 25px 39px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}
.tp-exp-wrapper {
  position: absolute;
  top: -50px;
  right: 50px;
}
.tp-exp-bg {
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: -10px;
  bottom: -10px;
  border-radius: 10px;
}
.tp-exp h2 {
  font-size: 100px;
  margin-right: 20px;
}

.tp-about-exp {
  margin-right: -30px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px), (max-width: 767px) {
  .tp-about-exp {
    margin-right: 0;
  }
}

/*----------------------------------------*/
/*  6.9 Newsletter
/*----------------------------------------*/
.tp-newsletter-margin {
  margin-top: -110px;
}
.tp-newsletter-bg {
  padding: 80px;
  border-radius: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-newsletter-bg {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 767px) {
  .tp-newsletter-bg {
    padding: 60px 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-newsletter-box {
    margin-top: 30px;
  }
}
.tp-newsletter-box form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .tp-newsletter-box form {
    display: block;
  }
}
.tp-newsletter-box input {
  border-color: #fff;
  color: #fff;
}
.tp-newsletter-box input:focus {
  border-color: #fff;
}
.tp-newsletter-box input::-webkit-input-placeholder {
  color: #fff;
}
.tp-newsletter-box input:-moz-placeholder {
  color: #fff;
}
.tp-newsletter-box input::-moz-placeholder {
  color: #fff;
}
.tp-newsletter-box input:-ms-input-placeholder {
  color: #fff;
}
.tp-newsletter-input {
  width: calc(100% - 205px);
}
@media (max-width: 767px) {
  .tp-newsletter-input {
    width: 100%;
    margin-bottom: 20px;
  }
}
.tp-newsletter-input img {
  position: absolute;
  right: 20px;
  top: 22px;
}
.tp-newsletter-input i {
  position: absolute;
  right: 20px;
  top: 22px;
  color: #57595C;
}
.tp-newsletter-back {
  color: #FFF;
  font-size: 100px;
  opacity: 0.1;
  position: absolute;
  left: 83px;
  bottom: -23px;
  line-height: 1;
  margin: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-newsletter-back {
    font-size: 80px;
    left: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-newsletter-back {
    font-size: 75px;
    left: 30px;
  }
}
.tp-newsletter-box-2 input {
  border-color: #57595C;
  color: #57595C;
}
.tp-newsletter-box-2 input:focus {
  border-color: #57595C;
}
.tp-newsletter-box-2 input::-webkit-input-placeholder {
  color: #57595C;
}
.tp-newsletter-box-2 input:-moz-placeholder {
  color: #57595C;
}
.tp-newsletter-box-2 input::-moz-placeholder {
  color: #57595C;
}
.tp-newsletter-box-2 input:-ms-input-placeholder {
  color: #57595C;
}
.tp-newsletter-box-2 .tp-newsletter-back {
  opacity: 1;
  color: #EEEBE6;
}

/*----------------------------------------*/
/*  6.4 Contact
/*----------------------------------------*/
.fs-100 {
  font-size: 100px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .fs-100 {
    font-size: 85px;
  }
}
@media (max-width: 767px) {
  .fs-100 {
    font-size: 70px;
  }
}

.tpform-title {
  font-size: 30px;
}

.contact-form-box input, .contact-form-box textarea {
  border-color: #57595c;
}

.tp-contact-img img {
  max-width: inherit;
  margin-left: -40px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-contact-img img {
    margin: 0px;
    max-width: 100%;
  }
}

.tp-contact-form-box input, .tp-contact-form-box textarea {
  height: 60px;
  border: 1px solid #57595C;
  padding: 0 25px;
  border-radius: 10px;
  font-weight: 500;
}
.tp-contact-form-box .p-relative i {
  position: absolute;
  right: 25px;
  top: 22px;
}
.tp-contact-form-box textarea {
  height: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tp-contact-info {
  border: 1px solid #57595C;
  padding: 50px 40px;
  border-radius: 15px;
}
.tp-contact-info-icon span {
  font-size: 85px;
  color: #000001;
}
.tp-contact-info-text span {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.tp-contact-info-text p {
  font-size: 30px;
  color: #0A0E1A;
  line-height: 1.2;
  font-family: var(--tp-font-heading);
  margin: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-contact-info-text p {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .tp-contact-info-text p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-contact-info-text p {
    font-size: 25px;
  }
}
.tp-contact-info-text p a:hover {
  color: var(--tp-theme-color);
}

.tp-map-area iframe {
  height: 700px;
  width: 100%;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-map-area iframe {
    height: 600px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-map-area iframe {
    height: 500px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-map-area iframe {
    height: 400px;
  }
}

/*----------------------------------------*/
/*  6.5 CTA
/*----------------------------------------*/
.tp-cta-overlay:before {
  background: linear-gradient(0deg, rgba(0, 23, 67, 0.8) 0%, rgba(0, 23, 67, 0.8) 100%), url(<path-to-image>) lightgray 50%/cover no-repeat;
  position: absolute;
  height: 100%;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}

/*----------------------------------------*/
/*  3.1 Header Style
/*----------------------------------------*/
.custom-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .custom-row {
    justify-content: center;
  }
}

.tpfact__icon span {
  font-size: 110px;
  display: inline-flex;
  color: var(--tp-theme-color-2);
}
.tpfact__title {
  font-size: 30px;
  color: #fff;
  opacity: 0.5;
}
.tpfact__text span {
  font-family: var(--tp-font-heading);
  font-size: 100px;
  color: #fff;
  display: inline-block;
  line-height: 1;
}
@media (max-width: 767px) {
  .tpfact__text span {
    font-size: 75px;
  }
}
.tpfact-2 .tpfact__icon span {
  color: #57595C;
}
.tpfact-2 .tpfact__icon-2 {
  position: relative;
}
.tpfact-2 .tpfact__icon-2 span {
  color: var(--tp-theme-orange);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tpfact-2 .tpfact__icon-2 span {
    font-size: 60px;
  }
}
.tpfact-2 .tpfact__icon-2:after {
  content: "";
  height: 100px;
  width: 1px;
  background-color: #D9D9D9;
  position: absolute;
  right: 0;
  top: 11px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tpfact-2 .tpfact__icon-2:after {
    height: 76px;
    top: 0;
  }
}
.tpfact-2 .tpfact__text span {
  color: #0A0E1A;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tpfact-2 .tpfact__text span {
    font-size: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tpfact-2 .tpfact__text span {
    font-size: 60px;
  }
}
.tpfact-2 .tpfact__title {
  color: #57595C;
  opacity: 1;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tpfact-2 .tpfact__title {
    font-size: 17px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tpfact-2 .tpfact__title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px) {
  .cols {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .tp-about-fact-box {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*----------------------------------------*/
/*  6.10 Portfolio
/*----------------------------------------*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-project-tab-area {
    padding-right: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-project-tab-area {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .tp-project-tab-area {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-project-tab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.tp-project-tab button {
  color: #fff;
  font-size: 100px;
  font-family: var(--tp-font-heading);
  line-height: 1.2;
  border-bottom: 1px solid #2f446b;
  padding: 13px 100px;
  padding-right: 35px;
  transition: 0.3s;
  text-align: left;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .tp-project-tab button {
    font-size: 80px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-project-tab button {
    font-size: 75px;
    padding-left: 40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-project-tab button {
    font-size: 55px;
    padding-left: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-project-tab button {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .tp-project-tab button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.tp-project-tab button.active {
  color: var(--tp-theme-color-2);
  border-color: var(--tp-theme-color-2);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-project-tab-thumb {
    padding: 0 40px;
  }
}
.tp-project-tab-thumb img {
  border-radius: 20px;
  width: 100%;
}
.tp-project-tab-content {
  padding-left: 0;
}

.tpportfolio {
  position: relative;
}
.tpportfolio__title {
  font-size: 30px;
  background: #fff;
  padding: 12px 20px 12px 20px;
  margin: 0;
  margin-top: 5px;
}
.tpportfolio__title:hover {
  color: var(--tp-theme-color);
}
.tpportfolio__thumb img {
  width: 100%;
}
.tpportfolio__text {
  position: absolute;
  bottom: 70px;
  left: 80px;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), (max-width: 767px) {
  .tpportfolio__text {
    bottom: 10px;
    left: 30px;
  }
}
.tpportfolio__text span {
  background: #fff;
  padding: 7px 20px 5px 20px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
}
.tpportfolio:hover .tpportfolio__text {
  visibility: visible;
  opacity: 1;
  bottom: 80px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), (max-width: 767px) {
  .tpportfolio:hover .tpportfolio__text {
    bottom: 30px;
  }
}

.tpshowcase__heading:hover {
  color: var(--tp-theme-color);
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tpshowcase__thumb {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tpshowcase__thumb img {
    width: 100%;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tpshowcase__number {
    margin-bottom: 14px;
  }
}
.tpshowcase__number span {
  color: #A3AEC3;
  font-size: 30px;
  position: relative;
}
.tpshowcase__number span:before {
  width: 60px;
  height: 1px;
  content: "";
  background: #A3AEC3;
  position: absolute;
  left: -68px;
  top: 50%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tpshowcase__number span:before {
    left: -23px;
    width: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tpshowcase__number span:before {
    left: -23px;
    width: 20px;
  }
}
.tpshowcase__cat span {
  color: #0A0E1A;
  padding: 4px 16px;
  background: #FFE9C9;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.tpshowcase__title {
  font-size: 40px;
  color: #fff;
}
.tpshowcase__title:hover {
  color: var(--tp-theme-color-2);
}
.tpshowcase__title.tp-fs-30 {
  font-size: 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tpshowcase__title {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .tpshowcase__title {
    font-size: 25px;
  }
}
.tpshowcase__tag {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #FFE9C9;
  padding: 6px 15px;
  padding-top: 8px;
  border-radius: 30px;
  color: #0A0E1A;
  line-height: 1;
  display: inline-block;
}
.tpshowcase__border {
  border: 1px solid #57595C;
}
.tpshowcase__logo {
  min-height: 320px;
  padding: 30px;
}
.tpshowcase__content-box {
  padding: 30px;
  margin-left: -1px;
  margin-bottom: -1px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tpshowcase__content-box {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: -1px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .showcase-groid-item {
    margin-bottom: 40px;
  }
}

.tpproject-bg {
  background-color: #D6F0FF;
  padding: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tpproject__content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.tpproject__title {
  font-size: 30px;
  margin: 0;
}
.tpproject__title:hover {
  color: var(--tp-theme-color);
}
.tpproject__meta {
  margin-bottom: 5px;
}
.tpproject__meta span {
  font-size: 15px;
  text-transform: uppercase;
  color: #57595C;
  font-weight: 500;
}

.tp-project-active-margin {
  margin: 0 -100px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-project-active-margin {
    margin: 0 -250px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-project-active-margin {
    margin: 0 -150px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-project-active-margin {
    margin: 0px;
  }
}

.tp-portfolio-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%) scale(0.7);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.tp-portfolio-arrow a {
  height: 75px;
  width: 135px;
  background: var(--tp-theme-color-2);
  display: inline-block;
  border-radius: 100%;
  line-height: 89px;
  font-size: 50px;
}
.tp-portfolio-title:hover {
  color: var(--tp-theme-color);
}
.tp-portfolio-thumb:before {
  content: "";
  background: var(--tp-theme-color);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 15px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.tp-portfolio-thumb img {
  width: 100%;
}
.tp-portfolio-item:hover .tp-portfolio-arrow {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) scale(1);
}
.tp-portfolio-item:hover .tp-portfolio-thumb:before {
  opacity: 0.7;
  visibility: visible;
}
.tp-portfolio-text p span {
  width: 50px;
  height: 1px;
  display: inline-block;
  background: #57595C;
  transform: translateY(-4px);
}
.tp-portfolio-filter button {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0 20px;
  position: relative;
}
.tp-portfolio-filter button.active {
  color: var(--tp-theme-color);
}
.tp-portfolio-filter button:after {
  content: "|";
  top: -1px;
  right: -4px;
  position: absolute;
  border-radius: 15px;
  transition: 0.3s;
}
.tp-portfolio-filter button:last-child:after {
  display: none;
}

.tp-portfolio-widget-title span {
  height: 10px;
  width: 10px;
  border-radius: 30px;
  background: var(--tp-theme-color);
  display: inline-block;
  margin-right: 5px;
  transform: translateY(-3px);
}

.tp-portfolio-info {
  background-color: #FBF6EF;
  padding: 40px 40px;
  border-radius: 10px;
}
.tp-portfolio-info ul {
  list-style: none;
}
.tp-portfolio-info ul li {
  border: 1px solid #57595C;
  padding: 17px 30px;
  background: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
}
.tp-portfolio-info ul li:last-child {
  margin-bottom: 0;
}
.tp-portfolio-info label {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #57595C;
  line-height: 1;
  margin-bottom: 10px;
}
.tp-portfolio-info-title {
  font-size: 20px;
}

.tp-portfolio-list-item {
  list-style: none;
}
.tp-portfolio-list-item li {
  font-weight: 500;
  color: #57595C;
  margin-bottom: 12px;
  position: relative;
}
.tp-portfolio-list-item li:before {
  content: "\f061";
  font-family: "Font Awesome 5 Pro";
  transform: rotate(-40deg);
  display: inline-block;
  margin-right: 7px;
  position: absolute;
  top: 0;
  left: 0;
}
.tp-portfolio-list-item li span {
  padding-left: 25px;
  overflow: hidden;
  display: block;
}

/*----------------------------------------*/
/*  6.13 Servicess
/*----------------------------------------*/
.tpservices {
  margin-right: -1px;
  border: 1px solid #57595C;
  padding: 40px;
  transition: 0.3s;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tpservices {
    padding: 40px 30px;
  }
}
.tpservices__icon span {
  font-size: 92px;
  color: var(--tp-black-common);
  display: inline-flex;
  position: relative;
  z-index: 2;
}
.tpservices__icon-shape {
  position: absolute;
  left: 0;
  top: -6px;
  z-index: 1;
}
.tpservices__title {
  font-size: 30px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tpservices__title {
    font-size: 25px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tpservices__title {
    font-size: 25px;
  }
}
.tpservices__title:hover {
  color: var(--tp-theme-color);
}
.tpservices__list ul {
  list-style: none;
}
.tpservices__list ul li {
  margin-bottom: 5px;
  color: #57595c;
}
.tpservices__list ul li::before {
  background-color: #57595c;
  content: "";
  height: 8px;
  width: 8px;
  display: inline-block;
  border-radius: 30px;
  margin-right: 10px;
  transform: translateY(-1px);
}
.tpservices:hover {
  background-color: var(--tp-rom-color);
}
.tpservices:hover .tp-sv-btn {
  background-color: var(--tp-theme-color);
  color: #fff;
}
.tpservices-2 {
  margin-top: -1px;
  padding-bottom: 14px;
}
.tpservices-2 .tpservices__icon span {
  font-size: 57px;
  color: var(--tp-black-common);
  display: inline-flex;
  margin-left: 25px;
}

.tpservices__icon_btn a {
  font-size: 45px;
  display: inline-flex;
}
.tpservices__icon_btn a:hover {
  color: var(--tp-theme-orange);
}

.tp-sv-btn {
  background: var(--tp-rom-color);
  display: block;
  padding: 6px 28px;
  font-size: 18px;
  font-family: var(--tp-font-heading);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.tp-sv-btn i {
  transform: rotate(-45deg);
}

.tpservices-4-spacing {
  padding-top: 50px;
  padding-bottom: 30px;
}

.tp-services-bg-area {
  background-color: #D6F0FF;
  border-radius: 140px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-services-bg-area {
    border-radius: 0;
  }
}

.tp-service-tab .nav-links:first-child .tpsvtab {
  border-top: 1px solid #2b303f;
}
.tp-service-tab .active .tpsvtab__title {
  color: var(--tp-theme-orange-2);
}

.tpsvtab {
  border-bottom: 1px solid #2b303f;
  padding: 17px 0;
  padding-bottom: 30px;
  cursor: pointer;
}
.tpsvtab__num {
  margin-top: 13px;
}
.tpsvtab__title {
  font-size: 100px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tpsvtab__title {
    font-size: 46px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tpsvtab__title {
    font-size: 35px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tpsvtab__title {
    font-size: 77px;
  }
}
@media (max-width: 767px) {
  .tpsvtab__title {
    font-size: 33px;
  }
}
.tpsvtab__content p {
  color: #B1B4BA;
  margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-service-tab-wrapper {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .tp-service-tab-wrapper {
    padding-left: 0;
  }
}

.tp-services-widget {
  background: #FBF6EF;
  padding: 40px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-services-widget {
    padding: 30px;
  }
}
.tp-services-widget ul li {
  margin-bottom: 15px;
  list-style: none;
}
.tp-services-widget ul li a {
  color: #57595C;
  display: block;
  padding: 20px 25px;
  line-height: 1;
  position: relative;
  background-color: #fff;
  border: 1px solid #57595C;
  border-radius: 5px;
}
.tp-services-widget ul li a:hover {
  background-color: var(--tp-theme-color);
  color: #fff;
  border-color: var(--tp-theme-color);
}
.tp-services-widget ul li a:after {
  content: "\f061";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%) rotate(-40deg);
}
.tp-services-widget ul li:last-child {
  margin-bottom: 0;
}
.tp-services-widget-title span {
  height: 10px;
  width: 10px;
  border-radius: 30px;
  background: var(--tp-theme-color);
  display: inline-block;
  margin-right: 5px;
  transform: translateY(-3px);
}

.tp-services-widget-banner-text {
  position: absolute;
  bottom: 50px;
  left: 40px;
  right: 40px;
  text-align: center;
}

/*----------------------------------------*/
/*  6.14 Team
/*----------------------------------------*/
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-team-area {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-team-area {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.tpteam__thumb {
  position: relative;
}
.tpteam__thumb img {
  border-radius: 15px;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .tpteam__thumb img {
    width: 100%;
  }
}
.tpteam__thumb-2 {
  margin-left: 10px;
}
.tpteam__thumb-2 > a {
  display: block;
  overflow: hidden;
  border-radius: 20px;
}
.tpteam__thumb-border {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -10px;
  left: -10px;
  border: 1px solid #57595C;
  z-index: -1;
  border-radius: 20px;
}
.tpteam__thumb-bg {
  height: 360px;
  width: 100%;
  background-color: #FFE9C9;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 140px 140px 0 0;
}
.tpteam__thumb-bg-border {
  height: 360px;
  border: 1px solid #57595C;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  border-radius: 140px 140px 0 0;
  right: 10px;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px), only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tpteam__info.ml-80 {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tpteam__info.ml-80 {
    margin-left: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tpteam__info.ml-80 {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .tpteam__info.ml-80 {
    margin-left: 20px;
  }
}
.tpteam__info span {
  color: #57595C;
  font-size: 17px;
}
.tpteam__info span i {
  height: 1px;
  width: 60px;
  background: #D6D6D1;
  display: inline-block;
  transform: translateY(-5px);
  margin-right: 10px;
}
.tpteam__social a {
  color: #0A0E1A;
  font-size: 20px;
  margin-right: 15px;
}
.tpteam__social a:hover {
  color: var(--tp-theme-color);
}
.tpteam__social-2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}
.tpteam__social-2 a {
  height: 50px;
  width: 50px;
  color: #0A0E1A;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  line-height: 50px;
  margin: 0 2px;
}
.tpteam__social-2 a:hover {
  background-color: var(--tp-theme-color);
  color: #fff;
}
.tpteam__title {
  font-size: 30px;
  margin-bottom: 5px;
}
.tpteam__title:hover {
  color: var(--tp-theme-color);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tpteam__title {
    font-size: 27px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tpteam__title-2 {
    font-size: 23px;
  }
}
.tpteam__subtitle {
  margin-bottom: 7px;
  display: block;
}
.tpteam:hover .tpteam__social-2 {
  opacity: 1;
  visibility: visible;
  top: 50%;
}
.tpteam:hover .tpteam__thumb-2 img {
  filter: blur(2px);
}

.tp-swiper-team-button {
  display: inline-flex;
  font-size: 52px;
}
.tp-swiper-team-button:hover {
  color: var(--tp-theme-color);
}

@media (max-width: 767px) {
  .tp-team-nav {
    margin-bottom: 20px;
  }
}
.tp-team-nav span {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #DBDBDB;
  border-radius: 100%;
  margin: 0 10px;
}

.tp-team-more-info ul {
  list-style: none;
}
.tp-team-more-info ul li {
  margin-bottom: 10px;
}
.tp-team-more-info ul li span {
  color: #222;
}
.tp-team-more-info ul li label {
  width: 140px;
}

.tp-team-exp-info ul {
  margin-left: 16px;
}
.tp-team-exp-info ul li {
  color: #222;
  margin-bottom: 3px;
}

.tp-team-skill-info .progress-outer {
  border: 0;
  padding: 0;
}
.tp-team-skill-info .tp-skill-item .progress, .tp-team-skill-info .tp-skill-item .progress-stacked {
  height: 7px;
  background-color: #ddd;
}

.tp-team-call a {
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 9px 20px;
  display: inline-flex;
}
@media (max-width: 767px) {
  .tp-team-call a {
    padding: 9px 4px;
  }
}
.tp-team-call a i {
  color: var(--tp-theme-color);
  font-size: 14px;
  border-left: 1px solid #ddd;
  margin-left: 20px;
  padding-left: 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-team-details-content {
    padding-left: 0;
  }
}
.tp-team-details-thumb img {
  width: 100%;
}

/*----------------------------------------*/
/*  6.15 Testimonial
/*----------------------------------------*/
.tp-testimonial-author img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-testimonial-item.pl-60 {
    padding-left: 0;
    padding-right: 0;
  }
}
.tp-testimonial-main-wrapper {
  margin-left: -55px;
}
@media (max-width: 767px) {
  .tp-testimonial-main-wrapper {
    margin-left: 0;
  }
}
.tp-testimonial-desc {
  font-size: 100px;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-testimonial-desc {
    font-size: 75px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-testimonial-desc {
    font-size: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-testimonial-desc {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .tp-testimonial-desc {
    font-size: 35px;
  }
}
.tp-testimonial-text {
  font-size: 60px;
  color: #fff;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-testimonial-text {
    font-size: 39px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-testimonial-text {
    font-size: 39px;
  }
}
@media (max-width: 767px) {
  .tp-testimonial-text {
    font-size: 25px;
  }
}
.tp-testimonial-text i {
  color: var(--tp-theme-color-2);
  font-size: 42px;
}
.tp-testimonial-text-black {
  color: #0A0E1A;
  font-size: 40px;
}
@media (max-width: 767px) {
  .tp-testimonial-text-black {
    font-size: 25px;
  }
}
.tp-testimonial-name {
  font-size: 30px;
  margin-bottom: 5px;
}
.tp-testimonial-desig {
  color: #57595c;
  font-size: 17px;
  margin-left: 76px;
}
.tp-testimonial-desig span {
  height: 1px;
  width: 60px;
  background: #57595c;
  display: inline-block;
  transform: translateY(-5px);
  margin-right: 5px;
}
@media (max-width: 767px) {
  .tp-testimonial-author {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .tp-testimonial-author-info {
    margin-left: 0;
  }
}
.tp-testimonial-author-name {
  font-size: 30px;
  color: #fff;
}
@media (max-width: 767px) {
  .tp-testimonial-author-name {
    font-size: 25px;
  }
}
.tp-testimonial-author-name-black {
  color: #0A0E1A;
}
.tp-testimonial-author-desig {
  font-size: 17px;
  color: #fff;
}
.tp-testimonial-author-desig-black {
  color: #57595C;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.quotes-90 {
  transform: scaleX(-1);
  display: inline-block;
  color: var(--tp-theme-color-2);
  font-size: 42px;
}

@media (max-width: 767px) {
  .tp-testimonial-long-text i {
    display: none;
  }
}

.tp-testimonial-shape {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: -1;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-testimonial-shape {
    top: 0;
  }
}

.tp-swiper-test-button {
  position: absolute;
  left: -100px;
  top: 35%;
  z-index: 9;
  font-size: 52px;
}
.tp-swiper-test-button:hover {
  color: var(--tp-theme-color);
}
@media only screen and (min-width: 1400px) and (max-width: 1600px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-swiper-test-button {
    left: 0;
    top: inherit;
    bottom: 0;
    position: static;
    display: inline-block;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-swiper-test-button {
    left: 0;
  }
}
.tp-swiper-test-button-next {
  left: auto;
  right: -100px;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-swiper-test-button-next {
    bottom: 0;
    right: inherit;
    left: 70px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-swiper-test-button-next {
    right: 0;
  }
}
.tp-rot-180 {
  transform: rotate(180deg);
}

.tp-testimonial-shape-thumb-1 {
  top: 115px;
  left: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-testimonial-shape-thumb-1 {
    top: 50px;
  }
}
.tp-testimonial-shape-thumb-2 {
  right: 0px;
  top: 34px;
}

.tp-testimonial-2-shape-thumb-1 {
  right: 19%;
  bottom: 15%;
}
.tp-testimonial-2-shape-thumb-2 {
  right: 9%;
  top: 19%;
}

.tp-swiper-test-2-button {
  color: #fff;
  z-index: 9;
  font-size: 52px;
  display: inline-block;
  opacity: 0.5;
  transition: 0.3s;
}
.tp-swiper-test-2-button:hover {
  color: var(--tp-theme-color-2);
  opacity: 1;
}

.tp-test-slider-arrow-2 {
  position: absolute;
  bottom: 20px;
  left: 500px;
}
@media (max-width: 767px) {
  .tp-test-slider-arrow-2 {
    margin-top: 20px;
    position: static;
  }
}
.tp-test-slider-arrow-2 span {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #DBDBDB;
  border-radius: 100%;
  margin: 0 10px;
  opacity: 0.5;
}

.tp-testimonial-bg-color {
  position: absolute;
  background: #FF8653;
  width: 408px;
  height: 380px;
  bottom: 0;
  border-radius: 180px 180px 80px 80px;
  z-index: -1;
}

.tp-testimonial-quote {
  float: left;
}
@media (max-width: 767px) {
  .tp-testimonial-quote {
    margin-bottom: 30px;
    float: none;
  }
}

.tp-test-slider-arrow-3 .tp-swiper-test-2-button {
  color: #57595C;
}

.tp-testimonial-thumb-active .swiper-slide img {
  transform: scale(0.8);
  width: 100px;
  transition: 0.3s;
}
.tp-testimonial-thumb-active .swiper-slide.swiper-slide-active {
  position: relative;
}
.tp-testimonial-thumb-active .swiper-slide.swiper-slide-active img {
  transform: scale(1);
}

.tp-test-slider-space {
  margin-right: -445px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-test-slider-space {
    margin-right: -200px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-test-slider-space {
    margin-right: 0px;
  }
}

.tptest {
  background: #fff;
  padding: 50px;
}

.tptest p {
  line-height: 1.4;
  color: #0A0E1A;
}

.tptest__rating i {
  color: #FF824D;
  font-size: 14px;
}

.tptest_quote {
  background: #FFE9C9;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  text-align: center;
  line-height: 70px;
}

.tp-review-button {
  border: 1px solid #57595C;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 35px;
  border-radius: 30px;
  line-height: 71px;
  margin-left: 15px;
  transition: 0.3s;
}
.tp-review-button:hover {
  background-color: var(--tp-theme-color);
  color: #fff;
  border-color: var(--tp-theme-color);
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tptest__name.tp-fs-24 {
    font-size: 18px;
  }
}

/*----------------------------------------*/
/*  6.2 Award
/*----------------------------------------*/
.tpaward-wrapper .row [class*=col-]:nth-child(even) .tpaward {
  padding-left: 55px;
  border-left: 1px solid #57595c;
}
@media (max-width: 767px) {
  .tpaward-wrapper .row [class*=col-]:nth-child(even) .tpaward {
    padding-left: 0;
    border-left: 0;
  }
}
.tpaward-wrapper .row [class*=col-]:nth-child(1) .tpaward {
  padding-top: 0;
}
.tpaward-wrapper .row [class*=col-]:nth-child(2) .tpaward {
  padding-top: 0;
}
.tpaward-wrapper .row [class*=col-]:nth-last-child(-n+2) .tpaward {
  padding-bottom: 0;
  border-bottom: 0;
}
@media (max-width: 767px) {
  .tpaward-wrapper .row [class*=col-]:nth-last-child(-n+2) .tpaward {
    border-bottom: 1px solid #57595c;
    padding-bottom: 38px;
  }
}

.tpaward {
  border-bottom: 1px solid #57595c;
  padding: 38px 0;
}
@media (max-width: 767px) {
  .tpaward {
    padding-top: 38px !important;
    padding-top: 38px !important;
  }
}
.tpaward--wrapper {
  padding-right: 80px;
}
.tpaward span {
  font-family: var(--tp-font-heading);
  font-size: 20px;
  color: #57595c;
  display: block;
  margin-bottom: 10px;
}
.tpaward__title {
  font-size: 30px;
  margin: 0;
}

/*----------------------------------------*/
/*  6.15 Testimonial
/*----------------------------------------*/
.tp-video-area {
  padding: 300px 30px;
  background-position: center;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-video-area {
    padding: 200px 30px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .tp-video-area {
    padding: 200px 30px;
  }
}
@media (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-video-area {
    padding: 150px 30px;
  }
}

/*----------------------------------------*/
/*  6.7 Faq
/*----------------------------------------*/
.tpfaq-wrapper {
  padding: 20px 0;
}

.tpfaq-bg {
  height: 100%;
  position: absolute;
  left: 0;
  width: calc(50% - 65px);
  background-size: cover;
  border-radius: 0 20px 20px 0;
  top: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tpfaq-bg {
    width: 100%;
    height: 500px;
    position: static;
    border-radius: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .tpfaq-bg {
    height: 300px;
  }
}
.tpfaq-bg-right {
  left: auto;
  right: 0;
  border-radius: 0;
  background-position: center;
}

.tp-faq-body {
  border-bottom: 1px solid transparent;
}

.show .tp-faq-body {
  border-bottom: 1px solid #D9D9D9;
}

.tp-faq-header {
  margin: 0;
}

.tp-faq-item.mb-20 {
  margin: 0;
}

.tp-faq-body {
  margin-bottom: 22px;
}

/*----------------------------------------*/
/*  6.3 Brand
/*----------------------------------------*/
.tp-brand-title h3 {
  font-size: 100px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.grad-bg {
  background: rgb(0, 88, 255);
  background: radial-gradient(circle, rgb(0, 88, 255) 0%, rgb(255, 76, 0) 96%);
}

.tp-brand-item-border {
  border: 1px solid #57595C;
  min-height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -1px;
  margin-bottom: -1px;
  border-radius: 10px;
}

.brand-section-title {
  border-bottom: 1px solid #373737;
}
.brand-section-title h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 0;
  background: #1a1a1a;
  display: inline-block;
  transform: translateY(19px);
  padding: 0 30px;
}
@media (max-width: 767px) {
  .brand-section-title h2 {
    font-size: 22px;
  }
}

.tp-brand-normal-wrapper {
  border: 1px solid #ddd;
  padding: 80px 75px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .tp-brand-logo-wrapper {
    padding-left: 0;
  }
}

/*----------------------------------------*/
/*  6.12 Process
/*----------------------------------------*/
.tpprocess-border {
  border: 1px solid #57595C;
  border-radius: 166px;
}
.tpprocess__step span {
  padding: 4px 24px;
  background-color: var(--tp-theme-orange);
  color: #fff;
  border-radius: 30px;
  transition: 0.3s;
}
.tpprocess:hover .tpprocess__step span {
  background-color: var(--tp-theme-color);
}
.tpprocess__title {
  font-size: 30px;
}
@media (max-width: 767px) {
  .tpprocess__angle {
    margin-bottom: 30px;
  }
}
.tpprocess__count {
  background: #FF3838;
  height: 77px;
  width: 77px;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  line-height: 58px;
  font-size: 30px;
  font-family: var(--tp-font-heading);
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
  border: 8px solid #fff;
}
.tpprocess__icon span {
  font-size: 85px;
  background: #FFE9C9;
  width: 150px;
  height: 150px;
  display: inline-block;
  text-align: center;
  line-height: 175px;
  border-radius: 100%;
  color: #000;
}
@media (max-width: 767px) {
  .tpprocess__icon-2 {
    margin-bottom: 30px;
  }
}
.tpprocess__icon-2 span {
  height: 259px;
  width: 259px;
  font-size: 143px;
  line-height: 253px;
  margin: auto;
}
.tpprocess__icon-2-pos span {
  line-height: 350px;
}
.tpprocess__icon-2-pos .tpprocess__count {
  bottom: inherit;
  top: -20px;
}
.tpprocess-2 {
  margin-left: -6px;
  margin-top: -33px;
}
@media (max-width: 767px) {
  .tpprocess-2 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.tpprocess-3 {
  margin-left: -5px;
  margin-top: -6px;
}
@media (max-width: 767px) {
  .tpprocess-3 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.tpprocess-4 {
  margin-top: -25px;
  margin-left: -5px;
}
@media (max-width: 767px) {
  .tpprocess-4 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.tpprocess__shape {
  position: absolute;
  bottom: -44px;
  left: 0;
}

.tpprocess__shape-3 {
  bottom: inherit;
  top: -40px;
}

/*----------------------------------------*/
/*  6.11 Pricing
/*----------------------------------------*/
.tpprice {
  border-radius: 20px;
}
.tpprice__icon {
  position: relative;
  margin-bottom: 4px;
}
.tpprice__icon span {
  font-size: 115px;
  position: relative;
  z-index: 1;
  margin-left: 23px;
}
.tpprice__icon-shape {
  position: absolute;
  top: 0;
  left: 0;
}
.tpprice__price h4 {
  font-size: 70px;
}
.tpprice__title {
  font-size: 30px;
}
.tpprice__features {
  list-style: none;
}
.tpprice__features li {
  color: #57595C;
  margin-bottom: 10px;
  display: flex;
}
.tpprice__features li i {
  margin-right: 10px;
  font-size: 18px;
  margin-top: 5px;
}
.tpprice__features li span {
  font-size: 17px;
}
.tpprice__sep {
  border-top: 1px solid #57595C;
  margin-top: 22px;
  margin-bottom: 23px;
}/*# sourceMappingURL=index.css.map */